# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3

# Virtual environments
.venv/
venv/

# Environment variables
.env
.env.*

# VS Code
.vscode/

# Mac
.DS_Store

# Logs
*.log

# Alembic (if you add later)
migrations/versions/__pycache__/

# Docker
postgres_data/
